body, html {
    padding: 0;
    margin: 0;
    font-size: 24px;
}

@media screen and (max-width: 580px) {
    body, html {
        font-size: 18px;
    }
}
body *{
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    max-width: 960px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f1f1f1;
}

.avatar img {
    width: 100%;
    border-radius: 50%;
}

.entire_form {
    width: 50%;
    background-color: #fff;
    padding: 40px;
    box-shadow: 2px 2px 5px 0px #000000;
    border-radius: 10px;
}

::placeholder {
    color: #838383;
    text-transform: uppercase;
  }

.label {
    display: block;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}

.input {
    padding: 10px 0 10px 10px;
    border-radius: 5px;
    border: 2px solid #0075ff;
    outline: none;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/59/User-avatar.svg/2048px-User-avatar.svg.png');
    background-size: 10px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    transition: all .5s ease;
}

.input:focus{
    border: 2px solid #0bb354;
    background-size: 20px;
}

.input_wrapper {
    position: relative;
    margin-bottom: 10px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.input-file {
    opacity: 0;
    width: 0;
    height: 0;
}

.label-file {
    margin-bottom: 10px;
    background-color: darkgreen;
    border-radius: 5px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    padding: 10px 5px;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    cursor: pointer;
}

.radio-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
}

.radio-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fake-radio {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid darkgreen;
    border-radius: 50%;
    margin-right: 10px;
}

.radio-input:checked + .fake-radio::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    background-color: darkgreen;
    border-radius: 50%;
}

/*Checkbox*/
.checkbox-input-label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: sans-serif;
}

.checkbox-input {
    opacity: 0;
    width: 0;
    height: 0;
}

.fake-checkbox {
    position: relative;
    width: 30px;
    height: 30px;
    border: 2px solid darkblue;
    border-radius: 5px;
    margin-right: 10px;
}

.checkbox-input:checked + .fake-checkbox::before {
    content: '';
    position: absolute;
    top: 0;
    left: 8px;
    display: inline-block;
    width: 7px;
    height: 15px;
    border: solid darkblue;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

.custom-select {
    width: 100%;
    padding: 10px;
    font-size: 24px;
    margin-top: 20px;
    cursor: pointer;
    color: #0075ff;
    border: 2px solid #0075ff;
    outline: none;
    border-radius: 5px;
}

.custom-select:focus {
    border: 2px solid #0bb354;
    color: #0bb354;
}

.custom-select:focus + .custom-arrow {
    transform: rotate(180deg);
    top: 45px;
}

select {
	appearance: none;
}

.select-wrapper {
    position: relative;
}

.custom-arrow {
    width: 15px;
    height: 15px;
    display: inline-block;
    position: absolute;
    top: 25px;
    right: 25px;
}

.custom-arrow::after {
    content: '';
    top: 0;
    left: 8px;
    display: inline-block;
    width: 15px;
    height: 15px;
    border: solid #0075ff;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}