/*Normalize*/

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
    color: #FF0;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/*Core styles*/

body {
    background-color: #fff;
    font-family: 'Lato', sans-serif;
    font-size: 118px;
    line-height: 1.35;
    letter-spacing: normal;
    color: #070707;
}

.site_title {
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}

/*Header*/
.nav_list {
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* text-align: center; */
    padding: 25px 0;
    border-bottom: 1px solid #828282;
}
/* .nav_item {
    display: inline-block;
} */

.nav_item_link {
    font-size: 18px;
    color: #828282;
}

.nav_item_link.active {
    color: #000;
}

.nav_item_link:hover {
    color: #000;
}

.nav_item:not(:last-child){
    margin-right: 40px;
}